
body{

	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #ffeca8;
}

button{
  padding: 10px 10px;
  color: white;
  background-color: black;
  border: 5px solid black;
}
